.mainContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px;

}


.imageBox {
    width: 250px;
    height: 300px;
    padding: 2px;

}

.productContainer {
    min-width: 300px;
    min-height: 400px;
    border: 2px solid #eee;
    overflow: hidden;
    box-shadow: 2px 8px 20px rgb(96, 132, 211);
    margin: 10px;
    transition: 0.25s linear;
    border-radius: 5px;
}

.productContainer:hover {
    box-shadow: none;
}


.cardContainer {
    min-width: 280px;
    min-height: 400px;
    border: 2px solid #eee;
    overflow: hidden;
    box-shadow: 2px 8px 20px rgb(160, 42, 42);
    margin: 10px;
    transition: 0.5s linear;

}

.cardContainer:hover {
    box-shadow: none;
}

.cardContainer1 {
    border: .5px solid #eee;
    padding-top: 5px;
}